html, body{
	margin:0px;
	padding:0px;
	border:0;
	background:#ffffff;
	font-family:Helvetica, sans-serif;
}
#mainWrapper{
	margin:10px auto 0px auto;
	width:200px;
	padding:0px 0px 50px 0px;
	background:url(../images/small-logo.png) center bottom no-repeat;
}
#mainWrapper form{
	margin:0px;
	padding:0px;
}

#mainWrapper .form-fields{
}
#mainWrapper .form-field{
	margin:0px;
	padding:0px;
}
#mainWrapper .form-field:first-child{
	border-top:none;
}
#mainWrapper .form-field label{
	display:block;
	margin:10px 0px 0px 0px;
}
#mainWrapper .form-field label .label{
	display:block;
}
#mainWrapper .form-field label .form-input{
	display:block;
	padding:0px 11px 0px 11px;
}
#mainWrapper .form-field input{
	margin:0px;
	background:#ffffff;
	width:100%;
	font-size:16px;
	font-family:Helvetica, sans-serif;
	border:1px solid #abadb3;
	padding:3px 10px 3px 10px;
	margin:0px -11px 0px -11px;
}
#mainWrapper .form-field label{
	display:block;
}
#mainWrapper .error{
	margin:5px 5px -5px 5px;
	color:#ff6666;
	font-weight:bold;
}
#mainWrapper .submit-field{
	margin:10px 0px 0px 0px;
}
#mainWrapper .submit-field input{
	margin:0px 0px 0px 0px;
	padding:4px 10px 4px 10px;
	font-size:16px;
}